.container {
  padding: 16px 70px;
}

.cards-grid {
  margin: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 32px;
}

.index-pg-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: baseline;
}

.card-top {
  margin: 8px 16px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;

}
.card-bottom-info > p{
  margin-bottom: 4px;
}
// delete button on cards
.fas.fa-trash-alt {
  color: $pink;
  font-size: 24px;
  padding-top: 52px;
}

.fas.fa-trash-alt:hover {
  color: #FF0000;
  transition: .4s;
}

.cards-container {
  overflow: scroll;
  height: 82vh;
  padding: 16px;
}

