<!-- <div class="gray-container">
 -->
<h1>A cupboard <br> inventory manager <br>like no other</h1>
<p>add your canned goods to checkit <br> and recieve an email when its about to expire</p>
<div class="footer-container">
  <a href="#" class="footer-link"><p>About</p></a>
  <a href="#" class="footer-link"><p>FAQ</p></a>
</div>
<!-- </div> -->
