<div class="maybe">
  <div class="svgg">
    <div class="home-info-container">
      <div class="home-words">
        <h1>A cupboard <br> inventory manager <br>like no other</h1>
        <p>add your canned goods to checkit <br> and recieve an email when its about to expire</p>
      </div>
      <div class="sign-up-btn">
       <%= link_to "Sign up", new_user_registration_path, class: "btn-primary" %>
      </div>
    </div>

      <div class="svg-container">
      </div>
    </div>
  <!--     <div class="footer">
        <a href="#" class="footer-link"><p>About</p></a>
        <a href="#" class="footer-link"><p>FAQ</p></a>
      </div> -->
  </div>
</div>
